---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
UseTab: Always
TabWidth: 4
ColumnLimit: 0

BreakBeforeBraces: Allman

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

IndentCaseLabels: true
IndentPPDirectives: None

PointerAlignment: Right

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpacesBeforeTrailingComments: 1
SpacesInParentheses: true
SpacesInSquareBrackets: false

SortIncludes: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BinPackArguments: true
BinPackParameters: true

ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

MaxEmptyLinesToKeep: 2
