h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.profile-container {
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.profile-card, .status-card, .achievements-card, .location-card {
    padding: 1.5rem;
    opacity: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: fit-content;
}
.profile-card {
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1 1 300px;
}
.profile-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 150%);
    pointer-events: none; 
}
.status-card, .achievements-card, .location-card {
    flex: 1 1 calc(50% - 20px);
}
.contributions-container {
    display: flex;
    justify-content: space-between;
}
.contribution-section {
    display: flex;
    flex-direction: column;
}
#guides-list {
    padding: 0;
}
#profile-picture {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.profile-name {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;
}
.profile-info p {
    margin: 0;
}
.map-placeholder {
    background-color: #3a3a3a;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.somanydivs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.bio {
    max-width: 300px;
    background-color: #1c1c2edb;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 6px 7px 15px rgb(77 166 255 / 15%);
}

.profile-text {
    font-family: Arial, Helvetica, sans-serif;
}

.right-profile-meta {
    display: flex;
    height: 210px;
    z-index: 3;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.left-profile-meta {
    z-index: 3;
}

#recentGamesContainer {
    padding: 1.5rem;
}

#favouriteModsContainer {
    display: flex;
    color: #b8b8b8;
}

#recentGamesList {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
    max-width: 1600px; 
    margin: 0 auto;
    columns: 20rem;
    column-gap: 1rem;
}

.profile-demomod-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.divv2 {
    flex: 1 1;
}

.stats-and-mods {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1.5rem 0rem 1.5rem;

}

.guesswhatdivfucking {
    display: flex;
    justify-content: space-between;
}

.heatmap {
    background-image: url(/images/heatmaptemplate.png);
    background-position: center;
    height: 250px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.defcon-stats {
    display: flex;
    flex-direction: column;
}
.contributor {
    margin-bottom: 10px;
    max-width: fit-content;
}
.stats-column {
    display: flex;
    flex-direction: column;
}
.guesswhatanotherdiv {
    display: flex;
    flex-direction: column-reverse;
}
.anotherdivfucking {
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 1.5rem;
}
.ihatemakingdivs {
    max-width: 480px;
}
.defcon-stats-right {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}
.mod-item {
    margin-bottom: 20px;
    margin-left: 20px;
}
.main-stats-container {
    border-radius: 10px;
    padding: 1.5rem;
    height: fit-content;
}
.main-social-container {
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: fit-content;
}
.main-contrib-container {
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    height: fit-content;
    flex: 1;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .status-card, .achievements-card, .location-card {
        flex: 1 1 100%;
    }
}h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.profile-card, .status-card, .achievements-card, .location-card {
    padding: 1.5rem;
    opacity: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: fit-content;
}
.profile-card {
    border-radius: 20px;
    position: relative;
    background-image: url("/images/backgroundprofile.png");
    background-position: center;
    flex: 1 1 300px;
}

.status-card, .achievements-card, .location-card {
    flex: 1 1 calc(50% - 20px);
}
.contributions-container {
    display: flex;
    justify-content: space-between;
}
.contribution-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#guides-list {
    padding: 0;
}
.profile-picture {
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    pointer-events: none;
}
.profile-name {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 20px;
}
.profile-info p {
    margin: 0;
}
.map-placeholder {
    background-color: #3a3a3a;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.somanydivs {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bio {
    max-width: 300px;
    background-color: #1c1c2edb;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 6px 7px 15px rgb(77 166 255 / 15%);
}

.profile-text {
    font-family: Arial, Helvetica, sans-serif;
}

.right-profile-meta {
    display: flex;
    height: fit-content;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: right;
}

#recentGamesContainer {
    padding: 1.5rem;
}

#favouriteModsContainer {
    display: flex;
    flex-wrap: wrap;
}

#recentGamesList {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 0;
    max-width: 1600px; 
    margin: 0 auto;
    columns: 20rem;
    column-gap: 1rem;
}

.profile-demomod-container {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.divv2 {
    flex: 1 1;
}

.stats-and-mods {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1.5rem 0rem 1.5rem;

}

.guesswhatdivfucking {
    display: flex;
    justify-content: space-between;
}

.heatmap {
    background-image: url(/images/heatmaptemplate.png);
    background-position: center;
    height: 250px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.defcon-stats {
    display: flex;
    flex-direction: column;
}
.contributor {
    margin-bottom: 10px;
    max-width: fit-content;
}
.stats-column {
    display: flex;
    flex-direction: column;
}
.absolute-fucking-final-div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: fit-content;
    gap: 1.5rem;
    border-radius: 10px;
}
.guesswhatanotherdiv {
    display: flex;
    flex-direction: column-reverse;
}
.demo-card {
    width: 362px;
}
.anotherdivfucking {
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: fit-content;
    margin-top: 1.5rem;
}
.ihatemakingdivs {
    max-width: 480px;
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
#recent-game-container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.defcon-stats-right {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}
.mod-item {
    margin-bottom: 20px;
    margin-left: 20px;
}
.main-stats-container {
    border-radius: 10px;
    padding: 1.5rem;
    height: fit-content;
}

.main-contrib-container {
    background-color: #1c1c2e17;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1.5rem;
    height: fit-content;
    flex: 1;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 15px;
}
.editable {
    padding: 2px 5px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.editable.editing {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

#profile-pic-upload, #banner-upload {
    margin-top: 10px;
}

#edit-profile-btn {
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    border-radius: 5px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background-color: #0067b8;
    color: #fff;
    margin-right: 10px;
}

#edit-profile-btn-mobile {
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    border-radius: 5px;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background-color: #0067b8;
    color: #fff;
    margin-right: 10px;
}

.edit-profile-btn:hover {
    background-color: #1882d3;
}

.add-item-btn {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #0067b8;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: fit-content;
    font-size: 0.8em;
}

.delete-item-btn {
    padding: 2px 5px;
    margin-left: 5px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
}

.delete-item-btn {
    background-color: #f44336;
}

.add-item-btn:hover, .delete-item-btn:hover {
    opacity: 0.8;
}

.editable-list li {
    margin-bottom: 5px;
}
#main-contributions-list, #guides-and-mods-list {
    color: #b8b8b8;
    text-align: left;
    margin-top: 20px;
    max-width: 1200px;
}
.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    border-radius: 50%;
    height: 120px;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s;
    cursor: pointer;
}

/* Same as the banner height 
.edit-overlay-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;  
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}
*/
.edit-overlay span {
    color: white;
    font-size: 16px;
    margin-top: 25%;
}
/*
.edit-overlay-banner span {
    color: white;
    font-size: 16px;
}
*/
.image-container:hover .edit-overlay {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #36393f;
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 900px;
    color: #ffffff;
}

.image-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview {
    position: relative;
    width: 480px;  /* Match profile picture dimensions */
    height: 480px;
    overflow: hidden;
    border-radius: 50%;  /* For circular profile pictures */
}
#image-to-edit {
    position: absolute;
    max-width: none;
    max-height: none;
}

#crop-overlay {
    width: 480px;
    height: 480px;
}

.crop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
.image-editor-controls {
    width: 100%;
}

#zoom-control {
    width: 100%;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#skip-edit, #cancel-edit {
    background-color: #4f545c;
    color: #ffffff;
}

#apply-edit {
    background-color: #7289da;
    color: #ffffff;
}

/* The edit overlay for the banner 
#profile-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s;
    z-index: 2; 
    cursor: pointer;
}
*/

.profile-card:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .status-card, .achievements-card, .location-card {
        flex: 1 1 100%;
    }
}