/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Montserrat:wght@400;600;700&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap');

@import url('https://fonts.cdnfonts.com/css/kremlin');

/* Typography */

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    color: #ff4d4d;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-family: 'kremlin';
}

h2 {
    color: #ff4d4d;
    word-wrap: break-word;
    text-align: left;
    font-weight: 400;
    font-family: 'kremlin';
}

.h2right {
    color: #ff4d4d;
    text-align: left;
    font-weight: 400;
    font-family: 'kremlin';
}

h3 {
    color: #ff4d4d;
    text-align: left;
    font-size: 1.5em;
    margin: 0px;
    font-weight: 600;
}

h4 {
    color: #ff4d4d;
    text-align: center;
    font-size: 1.5em;
    padding-right: 90px;
}

h5 {
    color: #6789da;
    text-align: center;
    font-size: 1.5em;
    margin-top: 6px;
}

.downloadlink {
    color: #eeeeee;
    text-align: left;
    margin-top: 30px;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-weight: 300;
}

.pabout {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.6;
    color: #ebebeb;
}

.pabout2 {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center;
    color: #ebebeb;
}

.pnotfinal {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ebebeb;
}

.pcontact {
    font-weight: 900;
    font-size: 18px;
    color: #ebebeb;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 0px;

}

.headerresources {
    color: #ff4d4d;
    text-align: left;
    font-family: 'kremlin';
    font-size: 2.0rem;
    margin-top: 30px;
    font-weight: 400;
}

.headerresources2 {
    color: #ff4d4d;
    text-align: left;
    font-family: 'kremlin';
    font-size: 2.0rem;
    margin-top: 30px;
    font-weight: 400;
}

.headerresources3 {
    color: #ff4d4d;
    text-align: center;
    font-family: 'kremlin';
    font-size: 2.0rem;
    margin-top: 30px;
    font-weight: 400;
}

ul {
    padding-left: 7.5rem;
}

.ul1 {
    padding-left: 1.2rem;
}

.ul2 {
    padding-left: 1rem;
}

/* eat fucking ass */

/* Logo and Banner */
.logo {
    width: 700px;
    height: 100px;
    display: block;
    margin: 0px auto;
}

/* Logo and Banner */
.logodivclass {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    max-width: 700px;
    height: 100px;
    margin: 0 auto;
}

.bannerdivclass {
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    position: relative;
}

.buttondivclass {
    display: flex;
    gap: 0,5rem; 
    position: absolute;
    right: 0px; 
    top: 75%;
    transform: translateY(-50%);
}