templates/systemIVTests/build
tools/ogg-cache
tools/*.pyc
*.DS_Store
/contrib/unrar/Release
/contrib/unrar/vs2015/Release
/contrib/unrar/vs2015/Debug
/contrib/unrar/.vs/Unrar-vs2015/v14/.suo
/contrib/unrar/.vs/Unrar/v14/.suo
/contrib/unrar/Unrar-vs2015.VC.db
/contrib/unrar/Unrar.ncb
/contrib/unrar/Unrar.suo
/contrib/unrar/Unrar.vcxproj.user
/contrib/unrar/vs2015/.vs/Unrar-vs2015/v14/.suo
/contrib/unrar/vs2015/Unrar-vs2015.suo
/contrib/unrar/*.user
/contrib/unrar/Debug
/contrib/unrar/x64/Debug/Unrar.tlog/*.tlog
/contrib/unrar/x64/Release
/contrib/unrar/x64/Debug
/contrib/unrar/*.opendb
/contrib/macosx/Frameworks/old/
/contrib/macosx/build/

contrib/src/libogg-1.3.4/.vs
lib/src/.vs
lib/src/CMakeFiles/12464c4aa540b4d53597de66e26e02ec
lib/src/CMakeFiles
contrib/src/libogg-1.3.4/CMakeFiles
